@page "/"


<div class="min-h-screen bg-gradient-to-br from-blue-400 to-blue-800 py-6 flex flex-col justify-center sm:py-12">
    <div class="mx-auto py-4 text-8xl tracking-tighter">
        <span class="text-white">chrismingay</span>
        <span class="text-blue-200 mx-4 text-9xl">.</span>
        <span class="text-white">dev</span>
    </div>
</div>

